tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tf_keras==2.16.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
protobuf==4.25.9
mediapipe==0.10.21
opencv-python==4.9.0.80
opencv-contrib-python==4.11.0.86
fer==22.5.1
facenet-pytorch==2.6.0
torch==2.2.2
torchvision==0.17.2
pandas==3.0.3
openpyxl==3.1.5
numpy==1.26.4
python-dotenv==1.2.2
pillow==10.2.0
requests==2.34.2
tqdm==4.67.3
scipy==1.17.1
matplotlib==3.10.9
moviepy==1.0.3
imageio-ffmpeg==0.6.0
imageio==2.37.3
ffmpeg==1.4
colorama==0.4.6
rich==15.0.0
six==1.17.0
absl-py==2.4.0
pydantic>=2.0
tiktoken